html, body, #root {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: 'Outfit', sans-serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #597bff;
  box-shadow: 0 0 10px rgba(89,123,255,0.5);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #597bff;
  box-shadow: 0 0 10px rgba(89,123,255,0.5);
  cursor: pointer;
}